.form-container {
	padding: 128px 48px 48px;
}
.title {
	font-size: 21px;
	letter-spacing: .05em;
}

.form {
	padding-top: 32px;
}

a {
	letter-spacing: .05em;
}

.mat-button {
	margin-top: 32px;
}

.create-account {
	margin-top: 32px;
	.text {
		margin: 6px 0;
		letter-spacing: .05em;
	}
	.link {
		margin: 6px 0;
		letter-spacing: .05em;
	}
}

.mat-form-field {
		margin-bottom: 16px;
}
